// Pull in other libraries
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Normalize
@import "../node_modules/normalize-css/normalize.css";

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Variables
$max-width: 1200px;

$green: #35AA4E;
$red: #CC3300;

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.125em;
  color: #333;
  background: #F2F2F2;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.15;
}

header {
  @include breakpoint(400px) { padding: 1em; }
  @include breakpoint(700px) { padding: 2em 1em; }
  @include breakpoint(900px) { padding: 4em 1em 2em 1em; }

  h1, h2 {
    margin: 0 auto;
    max-width: $max-width;
    text-align: center;
  }

  h1 {
    margin-bottom: 0.25em;
    font-family: 'Abril Fatface', cursive;
    color: $green;

    font-size: 2em;
    @include breakpoint(600px) { font-size: 3em; }
    @include breakpoint(800px) { font-size: 4.5em; }
    @include breakpoint(1000px) { font-size: 6em; }
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

    font-size: 1em;
    letter-spacing: 2px;
    @include breakpoint(600px) { font-size: 1.25em; letter-spacing: 3px; }
    @include breakpoint(900px) { font-size: 1.5em; letter-spacing: 5px; }
  }
}


h3 {
  margin: 0 auto;

  padding: 0.5em 1em;
  @include breakpoint(600px) { padding: 1em; }

  text-align: center;
  font-family: 'Nixie One', cursive;
  color: $green;

  font-size: 1em;
  @include breakpoint(600px) { font-size: 1.25em; letter-spacing: 2px; }
  @include breakpoint(900px) { font-size: 1.5em; }
}

dl {
  overflow: hidden;
}


dl, dt, dd {
  margin: 0;
}

article {
}

// So WHATWG, dt/dd items can be wrapped in divs. Not semantically valid
// per ratified spec, but not wrapping these items was stupidly complex.
dl {
  max-width: $max-width;
  margin: 0 auto;

  @include breakpoint(600px) { padding: 1em 0; }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;


  div {
    margin: 0.5em;
    @include breakpoint(500px) { width: calc(50% - 1em); }
    @include breakpoint(800px) { width: calc(33.33% - 1em); }
    @include breakpoint(1000px) { width: calc(25% - 1em); }

  }

  dt, dd {
    padding: 0.5em 0;
  }

  dt {
    font-weight: bold;
    color: $green;
    border-bottom: 1px solid $green;
  }

  dd {
    @include breakpoint(700px) { margin-bottom: 1em; }
  }
}

ul, li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

p.jira-disclaimer {
  text-align: center;
  max-width: 42em;
  margin: 0 auto;
}

ul.points {
  max-width: $max-width;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  > li {
    margin: 0.5em;

    width: 100%;
    @include breakpoint(450px) { width: calc(50% - 1em); }
    @include breakpoint(800px) { width: calc(33.33% - 1em); }
    @include breakpoint(1200px) { width: auto; flex-grow: 1; flex-basis: 0; }
  }

  strong {
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: 'Abril Fatface', cursive;
  }
}

ul.samples {
  li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }

  li.danger { font-weight: bold; }
}

.danger {
  color: $red;
}

footer {
  padding: 2em 0 4em 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;

  p {
    text-align: center;
    margin: 0 auto;
    max-width: $max-width;
  }

  a {
    text-decoration: none;
    color: #0066FF;
  }

  // Don't break lines awkwardly.
  span {
    display: inline-block;
  }
}
