// Pull in other libraries
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Normalize
@import "../node_modules/normalize-css/normalize.css";

$gotham: "Gotham SSm A", "Gotham SSm B";
$obsidian: "Obsidian A", "Obsidian B";
$sentinel: "Sentinel SSm A", "Sentinel SSm B";

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Variables
$max-width: 1200px;

$background: #403B33;
$foreground: #EBDECC;
$accent: #D6E1C7;
$headers: #D3643B;
$good: #4cde6c;
$warning: #ff320e;
$link: #4094ed;

body {
  font-family: $sentinel;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.625;
  color: $foreground;
  background: $background url("../gfx/bg.png") repeat;
}

a {
  text-decoration: none;
  color: $link;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.15;
}

header {
  overflow: hidden;
  @include breakpoint(400px) { padding: 1em; }
  @include breakpoint(700px) { padding: 2em 1em; }
  @include breakpoint(1200px) { padding: 2em 1em 4em; }

  h1, h2 {
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-bottom: 0.25em;
    line-height: 1;
    font-family: $obsidian;
    font-weight: 400;
    color: $headers;

    font-size: 3em;
    @include breakpoint(600px) { font-size: 4em; }
    @include breakpoint(800px) { font-size: 5em; }
    @include breakpoint(1200px) { margin: 0 -2em -0.35em; font-size: 13em; }
    @include breakpoint(1400px) { font-size: 15em; }
  }

  h2 {
    font-family: $gotham;
    text-transform: uppercase;
    font-weight: 500;
    color: $accent;

    font-size: 1em;
    letter-spacing: 2px;
    @include breakpoint(600px) { font-size: 1.25em; letter-spacing: 3px; }
    @include breakpoint(900px) { font-size: 1.5em; letter-spacing: 5px; }
    @include breakpoint(max-width 1199px) {
      text-shadow: 1px 1px 0 black;
    }
    @include breakpoint(1200px) {
      font-weight: 700;
      text-shadow: 3px 3px 0 $background;
      margin-bottom: 1em;
    }
    @include breakpoint(1400px) {
      margin-bottom: 1.5em;
    }
  }
}


h3 {
  margin: 0 auto;

  padding: 0.5em 1em;
  @include breakpoint(600px) { padding: 1em; }

  text-align: center;
  font-family: $sentinel;
  color: $headers;
  font-weight: 700;
  font-style: italic;

  font-size: 1em;
  @include breakpoint(600px) { font-size: 1.5em; }
  @include breakpoint(900px) { font-size: 1.75em; }
  @include breakpoint(1200px) { font-size: 2.5em; }
}

dl {
  overflow: hidden;
}


dl, dt, dd {
  margin: 0;
}

// Not a <video>, just a link to one
.video {
  font-weight: bold;
}

.scrummy {
  font-weight: bold;
  color: #38a65a;
}

// So WHATWG, dt/dd items can be wrapped in divs. Not semantically valid
// per ratified spec, but not wrapping these items was stupidly complex.
dl {
  max-width: $max-width;
  margin: 0 auto;

  @include breakpoint(600px) { padding: 1em 0; }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;


  div {
    margin: 0.5em;
    @include breakpoint(500px) { width: calc(50% - 1em); }
    @include breakpoint(800px) { width: calc(33.33% - 1em); }
    @include breakpoint(1000px) { width: calc(25% - 1em); }

  }

  dt, dd {
    padding: 0.5em 0;
  }

  dt {
    font-family: $gotham;
    font-weight: 500;
    font-weight: bold;
    color: $headers;
    border-bottom: 1px solid rgba($headers, 0.5);
  }

  dd {
    font-size: 0.975em;
    @include breakpoint(700px) { margin-bottom: 1em; }
  }

  p {
    margin-top: 0;
  }
}

ul, li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

p.jira-disclaimer {
  text-align: center;
  max-width: 42em;
  margin: 0 auto;
}

p.not-pictured {
  text-align: center;
  color: mix($foreground, $background, 50%);
  max-width: 42em;
  margin: 0 auto;
  font-style: italic;
}

ul.points {
  max-width: $max-width;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  > li {
    margin: 0.5em;

    width: 100%;
    @include breakpoint(450px) { width: calc(50% - 1em); }
    @include breakpoint(800px) { width: calc(33.33% - 1em); }
    @include breakpoint(1200px) { width: auto; flex-grow: 1; flex-basis: 0; }
  }

  strong {
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: $obsidian;
    font-weight: 400;
    text-shadow: 0 10px 40px rgba(0,0,0,0.5);
  }
}

ul.samples {
  li {
    font-size: 0.875em;
    padding: 0.5em 0;
    border-bottom: 1px solid rgba($headers, 0.25);

    &:last-child {
      border-bottom: 0;
    }
  }

  li.danger { font-weight: bold; }
}

.good {
  color: mix($good, $foreground);
}

.danger {
  color: $warning;
}

footer {
  padding: 2em 0 4em 0;
  font-family: $gotham;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;

  p {
    text-align: center;
    margin: 0 auto;
    max-width: $max-width;
  }

  // Don't break lines awkwardly.
  span {
    display: inline-block;
  }
}
